<!-- Google search: get value radio button django -->
<h1>{{ test.name }}</h1>
<h2>{{ test.description }}</h2>
<h4>questions_test.html</h4>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'exam:results' test.id %}" method="post">
<!-- Cross Site Request Forgery protection -->
{% csrf_token %}
<ol>
<!-- For each question in the current test... -->
{% for question in test.question_set.all %}

	<!-- We show the question's text --> 
	<li><b>{{ question.text }}</b></li>
	<ol type="a">
		<!-- For each question, we create a radio answer for each response -->
		{% for response in question.response_set.all %}
			<li>
				<input type="radio" name="{{ question.text }}" id="{{ response.id }}" value="{{ response.id }}" />
				<label for="{{ response.id }}">{{ response.text }}</label><br/>
			</li>
		{% endfor %}
	</ol>
{% endfor %}
</ol>
<input type="submit" value="Enviar"/>
</form>
