html, body {
    background: white url("images/test_background.jpg");
	margin:0;
}

#header {
    background-color:red;
    color:white;
	height:20%;
	text-align:center;
}

#title {
	display:inline-block;
}

#icon_left {
	float:left;
	height:75%;
	margin-top:10px;
	margin-left:10px;
}

#icon_right {
	float:right;
	height:75%;
	margin-top:10px;
	margin-right:10px;
}

#section {
    padding:10px;
	height:70%;
}

#select_tests { margin: 0 auto;
	background-color: yellow;
	height:90%;
	text-align:center;
}
#tests {
	width: -moz-fit-content;
	height: -webkit-fit-content;
	margin: 0 auto;
	text-align:left;
}

#footer {
    background-color:red;
    color:white;
    text-align:center;
    padding:5px;
	height:10%;
}

#icon_footer {
	float:center;
	height:75%;
}

#correct {
	color: green; 
}

#incorrect {
	color: red; 
}
