html, body {
    background: white url("images/test_background.jpg");
	margin:0;
}

p {
  margin-top: 0em;
  margin-bottom: 0em;
}

h2 {
	text-decoration: underline;
}

#header {
    background-color:red;
    color:white;
	height:20%;
	text-align:center;
}

#title {
	display:inline-block;
}

#icon_left {
	border-radius: 10%;
	float:left;
	height:75%;
	margin-top:10px;
	margin-left:10px;
}

#icon_right {
	border-radius: 10%;
	float:right;
	height:75%;
	margin-top:10px;
	margin-right:10px;
}

#section_index {
    padding:10px;
	height:70%;
	display: table;
	overflow: hidden; 
	position: relative;
	margin:0 auto
}

#section_base {
    padding:10px;
	height:70%;
}

#select_tests { 
	margin: 0 auto;
	width: -moz-fit-content;
	height: -webkit-fit-content;
	display: table;
	float: left;
}
#tests {
	width: -moz-fit-content;
	height: -webkit-fit-content;
	margin: 0 auto;
	float:left;
	display: table;
}

#footer {
    background-color:red;
    color:white;
    text-align:center;
    padding:5px;
	height:10%;
}

#footer_icon {
	border-radius: 10%;
	float:center;
	height:75%;
}

#correct {
	color: #04B404; 
}

#incorrect {
	color: red; 
}

#correct_answer {
	color: #04B404; 
	font-size:14px;
}

#incorrect_answer {
	color: red; 
	font-size:14px
}
#home_icon {
	height:10%;
	margin:0px auto;
	display:block;
}
#without_questions {
	margin:0 auto;
	width: -moz-fit-content;
	display: table;
}
#open_interrogation {
	width: -moz-fit-content;
	float: left;
	margin:0 auto
}

#close_interrogation {
	width: -moz-fit-content;
	float: left;
	margin:0 auto
}
