html, body {
    background: white url("images/test_background.jpg");
	margin:0;
}

#header {
    background-color:red;
    color:white;
	height:20%;
	width: 100%;
}

#title {
	text-align:center;
	width: -webkit-fit-content;
	margin-right: 100px;
}

#icon_left {
	float:left;
	height:75%;
	margin-top:10px;
	margin-left:10px;
}

#icon_right {
	float:right;
	height:75%;
	margin-top:10px;
	margin-right:10px;
}

#section {
    padding:10px;
	height:70%;
	width: 100%;
}

#select_tests {
	background-color: yellow;
	height:90%;
	width:90%;
	text-align:center;
}
#tests {
	width: -moz-fit-content;
	height: -webkit-fit-content;
	background-color: green;
}

#footer {
    background-color:red;
    color:white;
    text-align:center;
    padding:5px;
	height:10%; 
	width: 100%;
}

#icon_footer {
	float:center;
	height:75%;
}
